
// Général
@import "./components/general/reset.scss";
@import "./components/general/fonts.scss";
@import "./components/general/utils.scss";
@import "./components/general/buttons.scss";

// Navigation
@import "./components/navigation/layout.scss";
@import "./components/navigation/responsive.scss";

// Slider
@import "./components/slider/layout.scss";
@import "./components/slider/responsive.scss";

// Builder
@import "./components/builder/layout.scss";
@import "./components/builder/small_screen.scss";
@import "./components/builder/responsive.scss";

// Infos
@import "./components/infos/layout.scss";

// Content
@import "./components/content/layout.scss";
@import "./components/content/responsive.scss";

// Footer
@import "./components/footer/layout.scss";
@import "./components/footer/responsive.scss";

// Gallery
@import "./components/gallery/layout.scss";

// Popin
@import "./components/popin/layout.scss";

// Checkout
@import "./components/checkout/layout.scss";
@import "./components/checkout/responsive.scss";

// Collection
@import "./components/collection/layout.scss";

// Success
@import "./components/success/layout.scss";

// Invoice
@import "./invoice.scss";


header .header-link {
    padding: 16px 20px 12px 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Avenir Black";
    font-size: 12px;
    vertical-align: top;
    color: white;
}

.loading-dots:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}
