section.module {
    width: 100%;
    height: calc(100vh - 120px);
    min-height: 670px;
    position: relative;

    .presets {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 400px);
        padding: 60px;
        z-index: 1;
        box-sizing: border-box;


        li {
          display: inline-block;
          font-family: "Avenir Heavy";
          margin: 0 15px;
          transition: all .4s ease;
          opacity: .3;
          position: relative;
          padding-bottom: 30px;
          overflow: hidden;
          cursor: pointer;

          &:after {
              content: "";
              display: block;
              position: absolute;
              width: 100%;
              height: 8px;
              background-color: $yellow;
              bottom: 0;
              left: 0;
              transition: all 300ms cubic-bezier(0.750, 0.000, 0.250, 1.000);
              transform: translate3d(0, 8px, 0);
          }

          &.active {
              opacity: 1;
          }

          &.selected, &:hover {
              opacity: 1;
              &:after {
                transform: translate3d(0, 0, 0);
              }
          }

        }
    }
    .bancs {
        display: flex;
        justify-content: space-between;
        align-items: middle;
        position: absolute;
        top: 105px;
        left: 75px;
        width: calc(100% - 540px);
        max-width: 690px;
        padding: 5px 20px;
        z-index: 1;
        border: 1px solid $grey;
        box-sizing: border-box;
        background-color: $light-grey;

        transition: all .6s ease;
        transform: translate3d(0, 20px, 0);
        opacity: 0;
        pointer-events: none;

        &.active {
          transform: translate3d(0, 0, 0);
          opacity: 1;
          pointer-events: all;
        }

        >div, >p {
            display: inline-block;
            vertical-align: middle;
            // font-size: .8em; 
            color: #909090;
            font-family: "Avenir Heavy";
        }

        >p {
            vertical-align: middle;
            line-height: 40px;
        }

        .wrapper {
             * {
               display: inline-block;
               vertical-align: middle;
             }
              p.banc-count {
                  font-family: "Avenir Black";
                  color: black;
                  font-size: 1em;
                  vertical-align: middle;
                  line-height: 40px;
                  margin: 0 5px;
              }
              .button {
                  width: 10px;
                  padding-left: 15px;
                  padding-right: 15px;
                  font-size: .9em;
                  text-align: center;
                  &:before {
                      border: 5px solid $grey;
                  }

                  &.disabled {
                      opacity: .4;
                      pointer-events: none;
                  }
              }
        }

    }

    .webgl {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 400px);
      height: 100%;
      background-color: darken($light-grey, 4);
      border-right: 1px solid $grey;
      border-bottom: 1px solid $grey;
      overflow: hidden;
      box-sizing: border-box;

      .gallery-launcher {
          position: absolute;
          bottom: 60px;
          left: 75px;
          width: 40%;
          cursor: pointer;
          p {
            display: inline-block;
            vertical-align: middle;
          }
          .cover {
              display: inline-block;
              width: 60px;
              height: 60px;
              background-size: cover;
              vertical-align: middle;
              margin-right: 15px;
              border-radius: 100px;
          }
      }

      .expedition {
          position: absolute;
          bottom: 60px;
          right: 60px;
          width: 40%;
          transform: translate(0, -50%);
          min-width: 300px;
          
          p {
            display: inline-block;
            vertical-align: middle;
            width: 80%;
            line-height: 1.2em;
            font-family: "Avenir Medium";
            font-size: .8em;
          }
          .cover {
              display: inline-block;
              width: 40px;
              height: 20px;
              background-size: contain;
              background-position: center center;
              background-repeat: no-repeat;
              vertical-align: middle;
              margin-right: 15px;
          }
      }


      cursor: move;
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;

      &:active {
          cursor: grabbing;
          cursor: -moz-grabbing;
          cursor: -webkit-grabbing;
      }

    }

    .params {
      position: absolute;
      top: 0;
      right: 0;
      width: 400px;
      height: 100%;
      padding: 60px 40px;
      box-sizing: border-box;
      border-bottom: 1px solid $grey;

      .param {
          width: 100%;
          margin-bottom: 25px;
          position: relative;

          p{
              font-size: 16px;
              font-family: "Avenir Heavy";
          }

          .value-container {
              font-family: "Avenir Black";
              display: inline-block;
              position: absolute;
              top: 0;
              right: 0;
              display: block;
          }

          .cursor-container {
              width: 100%;
              height: 31px;
              margin: 15px 0;
              position: relative;

              .cursor {
                  display: block;
                  position: absolute;
                  width: 20px;
                  height: 20px;
                  background-color: white;
                  top: 50%;
                  margin-top: -13px;
                  left: 0;
                  border-radius: 100px;
                  border: 3px solid #565656;
                  cursor: pointer;
                  z-index: 2 !important;
              }

              &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  width: 100%;
                  height: 1px;
                  top: 15px;
                  background-color: $grey;
                  z-index: 1;
              }
          }
      }

      .outside {
        margin-bottom: 30px;
        span.label {
           display: inline-block;
           vertical-align: middle;
           margin-left: 10px;
           transform: translate(0, 5px);
        }
      }

      .settings {
          margin: 10px 0;
          h2 {
              font-family: "Avenir Heavy";
              margin: 40px 0 10px 0;
          }

          &.color{
            .cover {
              margin: 0;
            }
          }

          ul {
              li {
                  display: inline-block;
                  padding: 5px;
                  border: 1px solid rgba(0,0,0,0);
                  border-radius: 5px;
                  transition: all .4s ease;
                  cursor: pointer;
                  position: relative;

                  &:hover {
                      .preview {
                          opacity: 1;
                      }
                  }

                  &.more {
                      position: relative;
                      &.active ul {
                          opacity: 1;
                          pointer-events: all;
                      }
                      ul {
                        position: absolute;
                        width: 320px;
                        top: 0;
                        left: -310px;
                        padding: 20px 20px 15px 20px;
                        color: black;
                        line-height: 1.3em;
                        background-color: $light-grey;
                        box-shadow: 0 4px 38px 10px rgba(0,0,0,0.12), 0 5px 10px rgba(0,0,0,0.05);
                        border-radius: 3px;
                        margin-top: -15px;
                        margin-right: -20px;
                        transform: translate(0, -100%);
                        opacity: 0;
                        transition: opacity .2s ease;
                        pointer-events: none;
                        

                        &:after{
                            content: "▲";
                            display: block;
                            position: absolute;
                            right: 16px;
                            bottom: -16px;
                            width: 30px;
                            height: 20px;
                            font-size: 30px;
                            color: $light-grey;
                            transform: rotate(180deg) scale(1.2, .8);
                            text-shadow: 0 14px -28px rgba(0,0,0,0.22), 0 10px 10px rgba(0,0,0,0.20);
                        }
                      }
                  }

                  .preview {
                      img {
                        width: 250px;
                      }
                      position: absolute;
                      top: -2px;
                      left: -220px;
                      padding: 20px 20px 15px 20px;
                      color: black;
                      line-height: 1.3em;
                      background-color: $light-grey;
                      box-shadow: 0 4px 38px 10px rgba(0,0,0,0.12), 0 5px 10px rgba(0,0,0,0.05);
                      border-radius: 3px;
                      margin-top: -15px;
                      margin-right: -20px;
                      transform: translate(0, -100%);
                      opacity: 0;
                    //   transition: opacity .1s ease;
                      pointer-events: none;
                      z-index: 100;
                      &:after{
                          content: "▲";
                          display: block;
                          position: absolute;
                          right: 16px;
                          bottom: -16px;
                          width: 30px;
                          height: 20px;
                          font-size: 30px;
                          color: $light-grey;
                          transform: rotate(180deg) scale(1.2, .8);
                          text-shadow: 0 14px -28px rgba(0,0,0,0.22), 0 10px 10px rgba(0,0,0,0.20);
                      }
                  }

                  .cover {
                      width: 64px;
                      height: 35px;
                      border-radius: 6px;
                      margin-bottom: 10px;
                      background-size: cover;
                      background-repeat: no-repeat;
                      background-position: center center;
                      box-sizing: border-box;
                  }
                  p {
                      font-size: .8em;
                      opacity: .4;
                      padding-bottom: 3px;
                  }

                  &.active {
                    border: 1px solid $grey;
                    p {
                      opacity: 1;
                    }
                  }

                  &:hover {
                    border: 1px solid $yellow;
                    p {
                      opacity: 1;
                    }
                  }
              }
          }
      }

    }
}
