upstream forj {
    server 127.0.0.1:8000 fail_timeout=10s;
}

# forj.shop -> www.forj.shop
server {
    listen 80;
    server_name forj.shop forj.com;
    return 301 http://www.forj.shop$request_uri;
}

server {
    listen 80;
    server_name table-sur-mesure.fr;
    root /home/www/data/www/table-sur-mesure.fr/;
}

server {
    listen 80;
    server_name table-sur-mesure.com;
    root /home/www/data/www/table-sur-mesure.com/;
}

server {
    listen 80;
    server_name table-forj.fr;
    root /home/www/data/www/table-forj.fr/;
}

server {
    listen 80;
    server_name table-forj.com;
    root /home/www/data/www/table-forj.com/;
}

server {
    listen 80;
    server_name www.forj.com admin.forj.com www.forj.shop admin.forj.shop;

    access_log  /var/log/nginx/forj.com.access.log;
    error_log   /var/log/nginx/forj.com.error.log;

    location / {
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header    X-Real-IP        $remote_addr;
        proxy_set_header    REMOTE_HOST      $remote_addr;
        proxy_set_header    Host $http_host;
        proxy_redirect      off;
        proxy_pass          http://forj;
    }

    location /media {
        root /var/www/forj/shared;
        gzip_static on;
        expires max;
        add_header Cache-Control public;
    }

    location /static {
        root /var/www/forj/shared;
        gzip_static on;
        expires max;
        add_header Cache-Control public;
    }
}

{% if use_ssl is defined %}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name www.forj.com www.forj.shop;

    ssl_certificate /etc/nginx/ssl/forj.com.crt;
    ssl_certificate_key /etc/nginx/ssl/forj.com.key;

    ssl_session_cache shared:SSL:50m;
    ssl_session_timeout 1d;
    ssl_session_tickets off;

    ssl_prefer_server_ciphers on;
# disable SSLv3(enabled by default since nginx 0.8.19) since it's less secure then TLS http://en.wikipedia.org/wiki/Secure_Sockets_Layer#SSL_3.0
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
# ciphers chosen for forward secrecy and compatibility
# http://blog.ivanristic.com/2013/08/configuring-apache-nginx-and-openssl-for-forward-secrecy.html
    ssl_ciphers 'ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS';

    resolver 8.8.8.8 8.8.4.4;
    ssl_stapling on;
    ssl_stapling_verify on;
    ssl_trusted_certificate /etc/nginx/ssl/forj.com.crt;

# config to enable HSTS(HTTP Strict Transport Security) https://developer.mozilla.org/en-US/docs/Security/HTTP_Strict_Transport_Security
# to avoid ssl stripping https://en.wikipedia.org/wiki/SSL_stripping#SSL_stripping
# also https://hstspreload.org/
    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload";


    access_log  /var/log/nginx/forj.com.access.log;
    error_log   /var/log/nginx/forj.com.error.log;

    location / {
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header    X-Real-IP        $remote_addr;
        proxy_set_header    REMOTE_HOST      $remote_addr;
        proxy_set_header    Host $http_host;
        proxy_redirect      off;
        proxy_pass          http://forj;
    }

    location /media {
        root /var/www/forj/shared;
        gzip_static on;
        expires max;
        add_header Cache-Control public;
    }

    location /static {
        root /var/www/forj/shared;
        gzip_static on;
        expires max;
        add_header Cache-Control public;
    }
}
{% endif %}
