{% extends "checkout/base.html" %}

{% block title %}Mon panier{% endblock %}
{% block body_class %}checkout{% endblock %}

{% block nav %}
    <ul>
        <li><a class="" href="{{ url("home") }}">Retourner à mes achats</a></li>
    </ul>
{% endblock %}

{% block main %}
    <form class="main" action="" method="post">
        <h1>Mes informations</h1>
        <h2>(tous les champs sont obligatoires)</h2>

        <div class="radio-container">
            <p>
                <input id="male" type="radio" name="gender" value="male" checked>
                <label class="gender" for="male"><span>Monsieur</span></label>
            </p>
            <p>
                <input id="female" type="radio" name="gender" value="female" >
                <label class="gender" for="female"><span>Madame</span></label>
            </p>
            <p>
                <input id="society" type="radio" name="gender" value="society" >
                <label class="gender" for="society"><span>Société</span></label>
            </p>
        </div>

        <div class="inputs-container">
            <div class="input-wrapper">
                <label class="last_name" for="last_name">Nom <span class="error">format incorect</span></label>
                <input id="last_name" class="first required" type="text">
            </div>
            <div class="input-wrapper">
                <label class="name" for="name">Prénom <span class="error">format incorect</span></label>
                <input id="name" class=" required" type="text">
            </div>
            <div class="input-wrapper mail">
                <label class="mail" for="mail">Adresse mail <span class="error">format incorect</span></label>
                <input id="mail" class=" required" type="text">
            </div>
            <div class="input-wrapper confirmeMail">
                <label class="confirmeMail" for="confirmeMail">Confirmer adresse mail <span class="error">format incorect</span></label>
                <input id="confirmeMail" class=" required" type="text">
            </div>
            <div class="input-wrapper">
                <label class="phone" for="phone">Téléphone <span class="error">format incorect</span></label>
                <input id="phone" class="last required" type="text">
            </div>
        </div>

        <div class="facturation-container">
            <input type="checkbox" id="facturation" />
            <label for="facturation"><span>Mon adresse de livraison est différente <br>de celle de facturation</span></label>
        </div>

        <div class="separation"></div>

        <h1>Votre adresse (France métropolitaine)</h1>
        <h2>(tous les champs sont obligatoires)</h2>
        <div class="inputs-container">
            <div class="input-wrapper">
                <label class="street" for="street">Voie, rue <span class="error">format incorect</span></label>
                <input id="street" class="first required" type="text">
            </div>
        </div>
        <div class="inputs-container">
            <div class="input-wrapper">
                <label class="zipcode" for="zipcode">Code postal <span class="error">format incorect</span></label>
                <input id="zipcode" class="zip required" type="text">
            </div>
        </div>
        <div class="inputs-container">
            <div class="input-wrapper">
                <label class="city" for="city">Ville <span class="error">format incorect</span></label>
                <input id="city" class="last required" type="text">
            </div>
        </div>

        <div class="separation"></div>

        <div style="display: none" class="facturation-wrapper">
            <h1>Adresse de facturation</h1>
            <h2>(tous les champs sont obligatoires)</h2>
            <div class="inputs-container">
                <div class="input-wrapper">
                    <label class="billing-street" for="billing-street">Voie, rue <span class="error">format incorect</span></label>
                    <input id="billing-street" class="first" type="text">
                </div>
            </div>
            <div class="inputs-container">
                <div class="input-wrapper">
                    <label class="billing-zipcode" for="billing-zipcode">Code postal <span class="error">format incorect</span></label>
                    <input id="billing-zipcode" class="zip" type="text">
                </div>
            </div>
            <div class="inputs-container">
                <div class="input-wrapper">
                    <label class="billing-city" for="billing-city">Ville <span class="error">format incorect</span></label>
                    <input id="billing-city" class="last" type="text">
                </div>
            </div>
            <div class="separation"></div>
        </div>

        <div class="comments-wrapper">
            <h1>Informations complémentaires</h1>
            <h2>(difficultés d’accès, codes d’entrée, interphone...)</h2>
            <div class="textarea-wrapper">
                <textarea class="" id="comment" type="text"></textarea>
            </div>
        </div>

        <section class="basket-container">
            <div class="article-container"></div>
            <div class="infos">
                <h2>Livraison</h2>
                <p class="legal">Gratuite en France métropolitaine sous 5 semaines. Une foie votre commande validée, nous vous appelons sous une semaine pour choisir votre date de livraison</p>

                <div class="separation"></div>

                <div class="price-container">
                    <p>Total TTC</p>
                    <p id="total" class="price">000</p>
                </div>

                <div class="separation"></div>

                <div class="check-cgu-container">
                    <input type="checkbox" id="check-cgu" />
                    <label for="check-cgu"><span>J’accepte les <span class="cgu-basket-launcher">conditions générales de ventes</span></span></label>
                </div>
            </div>
            <div class="button arrow right submit-arrow"><span></span></div>
            <input type="submit" name="" value="Valider et payer"/>
        </section>
    </form>
{% endblock %} 
