psycopg2==2.7.3.2
Pillow==5.0.0
django-debug-toolbar==1.9.1
pytest==3.4.0
pytest-django==3.1.2
pytz==2017.3
gunicorn==19.7.1
boto==2.48.0
Jinja2==2.10
django-extensions==1.9.9
simplejson==3.13.2
six==1.11.0
ipython==6.2.1
alembic==0.9.7
django-jinja==2.4.1
easy-thumbnails==2.5
exam==0.10.6
django-extended-choices==1.2
responses==0.8.1
requests==2.18.4
SQLAlchemy==1.1.15
django-countries==5.1.1
django-hosts==3.0
raven==6.5.0
Babel==2.5.3

django==2.0.2

django-mail-factory==0.20
phonenumberslite==8.8.10

stripe==1.77.1

shortuuid==0.5.0
django-dotenv==1.4.2
