{% extends "forj/base.html" %}

{% block body %}
    <div class="main-wrapper">
        <nav>
            <a href="{{ url("home") }}" class="logo">Forj</a>
            {% block nav %}

            {% endblock %}
        </nav>
    </div>

    <div class="main-wrapper">
        <main>
            {% if messages %}
                <ul id="messages-container">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if form and form.errors %}
                {% with non_field_errors=form.non_field_errors() %}
                    {% if non_field_errors %}
                        {% for error in non_field_errors %}
                            <p class="error-label active">{{ error }}</p>
                        {% endfor %}
                    {% else %}
                        <p class="error-label active">Certains champs sont incorrects ou incomplets</p>
                    {% endif %}
                {% endwith %}
            {% endif %}
            {% block main %}

            {% endblock %}
        </main>
    </div>

    {% block footer %}
        {% include "forj/_footer.html" %}
    {% endblock %}
{% endblock %} 
