{% extends "forj/checkout/base.html" %}

{% import 'forj/forms.html' as forms %}

{% block title %}Mon panier{% endblock %}
{% block body_class %}checkout{% endblock %}

{% block nav %}
    <ul>
        <li><a class="" href="{{ url("home") }}">Retourner à mes achats</a></li>
    </ul>
{% endblock %}

{% block main %}
    <form class="main" id="checkout-form" action="" method="post" novalidate>
        {% csrf_token %}

        <h1>Mes informations</h1>
        <p style="margin-bottom: 10px">Si vous avez des questions, appelez nous au {{ FORJ_PHONE_NUMBER }}</p>
        <h2>(tous les champs sont obligatoires)</h2>

        {{ form.forms.shipping_address.type }}

        <div class="inputs-container">
            {{ forms.input(form.forms.shipping_address.first_name, label="Prénom") }}

            {{ forms.input(form.forms.shipping_address.last_name, label="Nom") }}

            {{ forms.input(form.forms.shipping_address.business_name, label="Nom d'entreprise") }}

            {{ forms.input(form.forms.shipping_address.email, label="Adresse mail") }}

            {{ forms.input(form.forms.shipping_address.phone_number, label="Téléphone") }}
        </div>

        <div class="facturation-container">
            {{ form.diff }}
            <label for="id_diff"><span>Mon adresse de livraison est différente <br>de celle de facturation</span></label>
        </div>

        <div class="separation"></div>
        <h1>Votre adresse (France métropolitaine)</h1>
        <h2>(tous les champs sont obligatoires)</h2>

        <div class="inputs-container">
            {{ forms.input(form.forms.shipping_address.line1, label="Voie, rue") }}
            {{ forms.input(form.forms.shipping_address.postal_code, label="Code postal") }}
            {{ forms.input(form.forms.shipping_address.city, label="Ville") }}
        </div>

        <div class="separation"></div>

        <div style="display: none" id="billing-wrapper">
            <h1>Adresse de facturation</h1>
            <h2>(tous les champs sont obligatoires)</h2>
            {{ form.forms.billing_address.type }}

            <div class="inputs-container">
                {{ forms.input(form.forms.billing_address.first_name, label="Prénom") }}
                {{ forms.input(form.forms.billing_address.last_name, label="Nom") }}
                {{ forms.input(form.forms.billing_address.email, label="Adresse mail") }}
                {{ forms.input(form.forms.billing_address.business_name, label="Nom d'entreprise") }}
                {{ forms.input(form.forms.billing_address.line1, label="Voie, rue") }}
                {{ forms.input(form.forms.billing_address.postal_code, label="Code postal") }}
                {{ forms.input(form.forms.billing_address.city, label="Ville") }}
            </div>
            <div class="separation"></div>
        </div>

        <div class="comments-wrapper">
            <h1>Informations complémentaires</h1>
            <h2>(difficultés d’accès, codes d’entrée, interphone...)</h2>

            {{ forms.textarea(form.forms.shipping_address.line2) }}
        </div>

        {% with enable_cgu=True, enable_delete=True %}
            {% include "forj/checkout/_cart.html" %}
        {% endwith %}
    </form>
{% endblock %} 

{% block extend_js %}
    <script type="text/javascript" src="{{ static('site/build/javascript/checkout.js') }}"></script>
{% endblock %}
