{% extends "forj/checkout/base.html" %}

{% import 'forj/forms.html' as forms %}

{% block title %}Mon panier{% endblock %}
{% block body_class %}checkout{% endblock %}

{% block nav %}
    <ul>
        <li><a class="" href="{{ url("home") }}">Retourner à mes achats</a></li>
    </ul>
{% endblock %}

{% block main %}
    <form class="main" action="" method="post" novalidate>
        {% csrf_token %}

        <h1>Mes informations</h1>
        <h2>(tous les champs sont obligatoires)</h2>

        {{ form.forms.shipping_address.type }}

        <div class="inputs-container">
            {{ forms.input(form.forms.shipping_address.last_name, label="Nom") }}

            {{ forms.input(form.forms.shipping_address.first_name, label="Prénom") }}

            {{ forms.input(form.forms.shipping_address.business_name, label="Nom d'entreprise") }}

            {{ forms.input(form.forms.user.email, label="Adresse mail") }}

            {{ forms.input(form.forms.shipping_address.phone_number, label="Téléphone") }}
        </div>

        <div class="facturation-container">
            <input type="checkbox" id="diff" name="diff" />
            <label for="diff"><span>Mon adresse de livraison est différente <br>de celle de facturation</span></label>
        </div>

        <div class="separation"></div>
        <h1>Votre adresse (France métropolitaine)</h1>
        <h2>(tous les champs sont obligatoires)</h2>

        <div class="inputs-container">
            {{ forms.input(form.forms.shipping_address.line1, label="Voie, rue") }}
            {{ forms.input(form.forms.shipping_address.postal_code, label="Code postal") }}
            {{ forms.input(form.forms.shipping_address.city, label="Ville") }}
        </div>

        <div class="separation"></div>

        <div style="display: none" id="billing-wrapper">
            <h1>Adresse de facturation</h1>
            <h2>(tous les champs sont obligatoires)</h2>
            {{ form.forms.billing_address.type }}

            <div class="inputs-container">
                {{ forms.input(form.forms.billing_address.first_name, label="Prénom") }}
                {{ forms.input(form.forms.billing_address.last_name, label="Nom") }}
                {{ forms.input(form.forms.billing_address.business_name, label="Nom d'entreprise") }}
                {{ forms.input(form.forms.billing_address.line1, label="Voie, rue") }}
                {{ forms.input(form.forms.billing_address.postal_code, label="Code postal") }}
                {{ forms.input(form.forms.billing_address.city, label="Ville") }}
            </div>
            <div class="separation"></div>
        </div>

        <div class="comments-wrapper">
            <h1>Informations complémentaires</h1>
            <h2>(difficultés d’accès, codes d’entrée, interphone...)</h2>

            {{ forms.textarea(form.forms.shipping_address.line2) }}
        </div>

        <section class="basket-container">
            {% if cart %}
                <div class="article-container">
                    {% for item in cart.items %}
                        <div class="article">
                            <div class="detail">Nom : {{ item.product.name }}</div>
                            <div class="detail">Dimensions : {{ item.reference }}</div>
                            <div class="detail">Quantité : {{ item.quantity }}</div>
                            <p class="index" style="display: none;">0</p>
                            <p class="delete">
                                <a href="{{ url('cart') }}" data-reference="{{ item.reference }}" data-action="remove">
                                    SUPPRIMER
                                </a>
                            </p>
                            <p class="price">{{ item.product.price_converted|floatformat(2) }} {{ CURRENCY_DISPLAY }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="infos">
                <h2>Livraison</h2>
                <p class="legal">Gratuite en France métropolitaine sous 5 semaines. Une fois votre commande validée, nous vous appelons sous une semaine pour choisir votre date de livraison</p>

                <div class="separation"></div>

                {% if cart %}
                    <div class="price-container">
                        <p>Total TTC</p>
                        <p id="total" class="price"><span id="total-container">{{ cart.total|amountformat(2) }}</span> {{ CURRENCY_DISPLAY }}</p>
                    </div>
                    <div class="separation"></div>
                {% endif %}


                <div class="check-cgu-container">
                    <input type="checkbox" id="check-cgu" />
                    <label for="check-cgu"><span>J’accepte les <span class="cgu-basket-launcher">conditions générales de ventes</span></span></label>
                </div>
            </div>
            <div class="button arrow right submit-arrow"><span></span></div>
            <input type="submit" name="" value="Valider et payer"/>
        </section>
    </form>
{% endblock %} 

{% block extend_js %}
    <script type="text/javascript" src="{{ static('site/build/javascript/checkout.js') }}"></script>
{% endblock %}
