{% extends "forj/checkout/base.html" %}

{% block title %}Paiement{% endblock %}
{% block body_class %}payment{% endblock %}

{% block footer %}{% endblock %}

{% block main %}
    <form class="main" action="">
        <h1>Mes informations de paiement</h1>
        <h2>(tous les champs sont obligatoires)</h2>
        <p class="intro">Les cartes banquaires suivantes sont autorisées&nbsp; 
            <img src="{{ static("site/build/assets/images/visa.jpg") }}" width="45px" alt="">
            <img src="{{ static("site/build/assets/images/mastercard.jpg") }}" width="45px" alt="">
            <img src="{{ static("site/build/assets/images/maestro.jpg") }}" width="45px" alt="">
        </p>

        <div class="inputs-container">
            <div class="input-wrapper">
                <label class="number" for="number">Numéro <span class="error">format incorect</span></label>
                <input id="number" class="first required" type="text">
            </div>
            <div class="select-date-wrapper">
                <div class="select-wrapper">
                    <span>Date de validité</span>
                    <div class="select">
                        <p class="yearFeedBack selectFeedback">Année</p>
                        <select name="year" id="year">
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>
                            <option value="2031">2032</option>
                            <option value="2031">2033</option>
                            <option value="2031">2034</option>
                            <option value="2031">2035</option>
                        </select>
                    </div>
                    <div style="margin-right: 100px" class="select">
                        <p class="mounthFeedBack selectFeedback">Mois</p>
                        <select name="mounth" id="mounth">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="input-wrapper">
                <label class="crypto" for="crypto">Cryptogramme <span class="error">format incorect</span></label>
                <input id="crypto" class="last required" type="text">
            </div>
        </div>

        <section class="basket-container">
            <div class="article-container"></div>
            <div class="infos">
                <!-- <h2>Livraison</h2> -->
                <!-- <p class="legal">Gratuite en France métropolitaine sous 5 semaines. Une foie votre commande validée, nous vous appelons sous une semaine pour choisir votre date de livraison</p> -->

                <!-- <div class="separation"></div> -->

                <div style="margin-top: 7px" class="price-container">
                    <p>Total TTC</p>
                    <p id="total" class="price">000</p>
                </div>

                <!-- <div class="separation"></div>

                <div class="check-cgu-container">
                    <input type="checkbox" id="check-cgu" />
                    <label for="check-cgu"><span>J’accepete les <span class="cgu-basket-launcher">conditions générales de ventes</span></span></label>
                </div> -->
            </div>
            <div class="button arrow right submit-arrow"><span></span></div>
            <input type="submit" name="" value="Valider et payer">
        </section>
    </form>
{% endblock %}
