{% extends "forj/checkout/base.html" %}

{% block title %}Paiement{% endblock %}
{% block body_class %}payment{% endblock %}

{% block nav %}
    <ul>
        <li><a class="" href="{{ order.get_checkout_url() }}">Retourner à mes informations</a></li>
    </ul>
{% endblock %}

{% block extend_js %}
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        window.FJ = {
            stripe_session_id: '{{ order.stripe_session_id }}',
            stripe_publishable_key: '{{ STRIPE_PUBLISHABLE_KEY }}'
        }
    </script>
    <script type="text/javascript" src="{{ static('site/build/javascript/payment.js') }}"></script>
{% endblock %}

{% block main %}
    <h1 class="loading-dots">En cours de traitement</h1>
    <p>Vous allez être redirigé vers notre prestataire de paiement.</p>
{% endblock %}
