{% extends "forj/base.html" %}

{% block body_class %}success{% endblock %}

{% block body %}
    <nav>
        <a href="{{ url('home') }}" class="logo">Forj</a>
    </nav>

    <div class="wrapper">
        <h1>Bravo et merci !</h1>
        <p>Votre commande est traitée par notre équipe, un mail de confirmation va vous être envoyé. Nous vous contacterons d'ici une semaine pour fixer une date de livraison. Si vous le souhaitez vous pouvez télécharger <a href="{{ order.get_invoice_url() }}">votre facture ici</a>.</p>
        <div class="links">
            <a class="button inverted" href="{{ url('home') }}">RETOURNER AU SITE</a>
            <span class="intro-socials">Ou suivez-nous sur</span>
            <div class="socials-wrapper">
                <a href="https://www.facebook.com/forjmobilier/" class="button facebook">
                    <i class="demo-icon icon-facebook"></i>
                    </a>&nbsp;<a href="https://www.instagram.com/forj_mobilier/" class="button instagram">
                    <i class="demo-icon icon-instagram"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
