<footer>
    <h3>Paiement sécurisé</h3>
    <img src="{{ static("site/build/assets/images/visa.jpg") }}" width="60px" alt="">
    <img src="{{ static("site/build/assets/images/mastercard.jpg") }}" width="60px" alt="">
    <img src="{{ static("site/build/assets/images/maestro.jpg") }}" width="60px" alt="">
    <img src="{{ static("site/build/assets/images/american-express.jpg") }}" width="60px" alt="">
    <div class="links">
        <p>
            <a class="disabled cgu-button" href="{{ url('terms') }}">CGV, Mentions légles et livraison</a>
            <a class="disabled a-propos-button" href="{{ url('about') }}">A propos</a>
            <!-- <a class="" target="_blank" href="http://dorianlods.fr">Réalisation : <img class="logo-dorian" width="15" src="http://dorianlods.fr/Ressources/logo.svg" alt=""></a> -->
            <a class="social" style="margin-left: 20px;" href="{{ FORJ_FACEBOOK_URL }}"><i style="padding: 0 3px;" class="demo-icon icon-facebook"></i></a>
            <a class="social" href="{{ FORJ_INSTAGRAM_URL }}"><i class="demo-icon icon-instagram"></i></a>
        </p>
    </div>
</footer>
