<footer class="footer-landing">
    <div class="top">
        <h3>Paiement sécurisé</h3>
        <div class="cbs">
            <img src="{{ static("site/build/assets/images/visa-landing.jpg") }}" width="60px" alt="">
            <img src="{{ static("site/build/assets/images/mastercard-landing.jpg") }}" width="60px" alt="">
            <img src="{{ static("site/build/assets/images/maestro-landing.jpg") }}" width="60px" alt="">
            <img src="{{ static("site/build/assets/images/american-express-landing.jpg") }}" width="60px" alt="">
        </div>

        <div class="links">
            <p>
                <a class="disabled cgu-button" href="{{ url("terms") }}">CGV, Mentions légales et livraison</a>
                <a class="disabled a-propos-button" href="{{ url("about") }}">À propos</a>
                <a class="social" href="https://www.facebook.com/forjmobilier/">
                    <i class="demo-icon icon-facebook"></i>
                </a>
                <a class="social" href="https://www.instagram.com/forj_mobilier/">
                    <i class="demo-icon icon-instagram"></i>
                </a>
            </p>
        </div>
    </div>
    <div class="bottom">
        <ul>
            {% for page in page_list %}
                <li><a href="{{ page.get_absolute_url() }}">{{ page }}</a></li>
            {% endfor %}
        </ul>

        <p>Créez le bureau sur-mesure de vos désirs avec la matière et les couleurs de votre choix ! Forj vous propose également de créer votre <a href="{{ url("home") }}">table basse sur-mesure</a> pour votre bureau. Envie d'une <a href="{{ url("home") }}">table d'appoint sur-mesure</a> pour votre bureau ? C'est également possible, le tout avec qualité Made in France !</p>
    </div>
</footer>
