{% extends "forj/checkout/success.html" %}

{% block title %}A propos, nous contacter{% endblock %}

{% block success_content %}
    <h1>A propos, nous contacter</h1>
    <p>
        Vous avez une question, une demande plus spécifique ?
        <br />
        Laissez-nous vos coordonnées <a href="mailto:{{ FORJ_CONTACT_EMAIL }}">{{ FORJ_CONTACT_EMAIL }}</a> ou nous appeler au : {{ FORJ_PHONE_NUMBER }} (7 jours sur 7 de 9h00 à 18h) et dites-nous tout, nous vous recontacterons dans les plus brefs délais.</p>
{% endblock %}
