{% extends "forj/checkout/success.html" %}

{% block title %}A propos de Forj, créateur de tables sur mesure{% endblock %}

{% block success_content %}
    <h1>A propos de Forj, créateur de tables sur mesure</h1>
    <p>
        Crédits :
        Développement Front :  <a href="http://www.dorianlods.fr/">Dorian Lods</a><br/>
        Développement Back : <a href="https://www.linkedin.com/in/fmessa/">Florent Messa</a><br/>
        Photographies : <a href="http://www.numeart.fr/">Tanguy Dupont</a><br/>
        Direction Artistique : <a href="https://www.linkedin.com/in/benoît-séverin-deshayes-39032625">Benoît-Séverin Deshayes</a><br/>
        Conception : Jean-Charles Deshayes & Benoît-Séverin Deshayes<br/>
</p>
<h2> Qui sommes-nous ?</h2>
<img src="a_propos.jpg" alt="A propos Forj">
<p>
Forj est une marque de mobilier crée par un métalier et un graphiste : Jean-Charles et Benoît Deshayes. Nous produisons nos meubles uniquement sur-mesure et sommes très heureux de l'intéret que pour portez porter à notre travail. N'hésitez pas à nous contacter <a href="mailto:forj.info@gmail.com"> par mail </a> ou appelez-nous au 06.78.47.13.05 et dites nous tout ! Nous vous recontacterons dans les plus brefs délais.
</p>

