<!DOCTYPE HTML>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="table, table forj, table sur-mesure, sur mesure, surmesure, table personnalisée, table design, table artisanal, banc sur-mesure, banc personnalisé, banc artisanal, banc métal, table métal">

        {% block extend_meta %}
        {% endblock %}

        <title>Forj | {% block title %}{% endblock %}</title>

        <link rel="apple-touch-icon" href="{{ static("site/build/assets/images/prod/apple_114_114.png") }}" />
        <link rel="apple-touch-icon-precomposed" href="{{ static("site/build/assets/images/prod/apple_114_114.png") }}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ static("site/build/assets/images/prod/apple_114_114.png") }}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ static("site/build/assets/images/prod/apple_114_114.png") }}" />

        <link rel="icon" type="image/gif" href="{{ static("site/build/assets/images/prod/favicon.ico") }}" />

        {% block extend_css %}
            <link rel="stylesheet" href="{{ static("site/build/stylesheet/main.css") }}">
        {% endblock %}
    </head>


    <body{% block body_inner %} class="{% block body_class %}{% endblock %}"{% endblock %}>
        {% block body %}
            
        {% endblock %}

        {% block extend_js %}
            
        {% endblock %}
    </body>
</html>
