{% extends "forj/home.html" %}

{% block body_class %}collection{% endblock %}

{% block title %}Collection{% endblock %}

{% set section = "collection" %}

{% block header %}
    <div class="wrapper">
        <h1>Collection Forges</h1>
        <div class="buttons-wrapper">
            <span class="button inverted scroll-to">Découvrir</span>
            <div class="social">
                <a href="{{ FORJ_FACEBOOK_URL }}" class="button facebook"><i class="demo-icon icon-facebook"></i></a>
                <a href="{{ FORJ_INSTAGRAM_URL }}" class="button instagram"><i class="demo-icon icon-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="slider-container">
        <div class="button arrow left"><span></span></div>
        <ul>
            <li class="text-slider active">
                <p>Table d’intérieur noir en chêne à partir de 650€</p>
            </li>
            <li class="text-slider">
                <p>Table d’intérieur noir en chêne à partir de 650€</p>
            </li>
            <li class="text-slider">
                <p>Table d’intérieur noir en chêne à partir de 650€</p>
            </li>
        </ul>
        <div class="button arrow right"><span></span></div>
        <div class="progress"></div>
        <div class="progress-bar"></div>
    </div>
    <div class="cover active" style="background-image: url({{ static("site/build/assets/images/Cover_02.png") }})"></div>
    <div class="cover" style="background-image: url({{ static("site/build/assets/images/Cover_01.png") }}"></div>
    <div class="cover" style="background-image: url({{ static("site/build/assets/images/Cover_01.png") }}"></div>
{% endblock %} 

{% block main %}
    <main>
        <section>
            <div class="image-wrapper carousel">
                <div class="arrow left"></div>
                <div class="arrow right"></div>
                <ul>
                    <li><img src="{{ static("site/build/assets/images/Cover_01.png") }}" alt="#"></li>
                    <li><img src="{{ static("site/build/assets/images/Cover_02.png") }}" alt="#"></li>
                    <li><img src="{{ static("site/build/assets/images/Cover_01.png") }}" alt="#"></li>
                    <li><img src="{{ static("site/build/assets/images/Cover_02.png") }}" alt="#"></li>
                    <li><img src="{{ static("site/build/assets/images/Cover_01.png") }}" alt="#"></li>
                </ul>
            </div>

            <div class="infos-container">
                <p>Dimension : L.85 P. 125 H.85</p>
                <p>Cadre moyen, Plateau en chêne, cadre brut</p>

                <div class="price-wrapper">
                    <div class="wrapper">
                        <p>Total TTC</p>
                        <p class="price">550,00 €</p>
                    </div>
                    <span class="button inverted">Ajouter au panier</span>
                </div>

            </div>
        </section>
    </main>
{% endblock %}

{% block extend_js %}
    <script src="{{ static("site/build/javascript/collection.js") }}"></script>
{% endblock %}
