{% extends "forj/home.html" %}

{% block body_class %}collection{% endblock %}

{% block title %}Collection{% endblock %}

{% set section = "collection" %}

{% block header %}
    <div class="wrapper">
        <h1>Collection Forges</h1>
        <div class="buttons-wrapper">
            <span class="button inverted scroll-to">Découvrir</span>
            <div class="social">
                <a href="{{ FORJ_FACEBOOK_URL }}" class="button facebook"><i class="demo-icon icon-facebook"></i></a>
                <a href="{{ FORJ_INSTAGRAM_URL }}" class="button instagram"><i class="demo-icon icon-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="slider-container">
        <div class="button arrow left"><span></span></div>
        <ul>
            {% for node in nodes.carousel %}
                <li class="text-slider {% if loop.first %} active{% endif %}">
                    <p>{{ node.title }}</p>
                </li>
            {% endfor %}
        </ul>
        <div class="button arrow right"><span></span></div>
        <div class="progress"></div>
        <div class="progress-bar"></div>
    </div>
    {% for node in nodes.carousel %}
        {% if node.cover %}
            <div class="cover{% if loop.first %} active{% endif %}" style="background-image: url({{ node.cover.url }})"></div>
        {% endif %}
    {% endfor %}
{% endblock %} 

{% block main %}
    <main>
        {% for node in nodes.selection %}
        <section>
            <div class="image-wrapper carousel">
                <div class="arrow left"></div>
                <div class="arrow right"></div>
                <ul>
                    {% for cover in node.covers.all() %}
                        {% if cover.image %}
                            <li><img src="{{ cover.image.url }}" alt="{{ cover.alt_text }}"></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="infos-container">
                {{ node.description|linebreaks }}

                {% if node.product_reference %}
                    <div class="price-wrapper">
                        <div class="wrapper">
                            <p>Total TTC</p>
                            <p class="price">{{ node.product_price|amountformat }} {{ node.product.get_currency_display() }}</p>
                        </div>
                        <a href="{{ url("cart") }}?action=add&reference={{ node.product_reference }}&next={{ url('checkout') }}">
                            <span class="button inverted">Ajouter au panier</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </section>
        {% endfor %}
    </main>
{% endblock %}

{% block extend_js %}
    <script src="{{ static("site/build/javascript/collection.js") }}"></script>
{% endblock %}
