{% extends "forj/checkout/success.html" %}

{% block title %}Conditions générales de vente, mentions légales, livraison{% endblock %}

{% block wrapper_class %}wrapper wrapper--centered{% endblock %}

{% block success_content %}
    <h1>Conditions générales de vente, mentions légales, livraison</h1>
    <p>
     MENTIONS LÉGALES<br>
Siège social<br>
Forj est une marque de la société B concept<br>
16, rue Saint-Just<br>
93130 Noisy le sec<br>
        
Contacts<br>
✉️ forj.info@gmail.com<br>
☎️ 0678458812<br>
SAS Au capital de 3 500€<br>
SIREN: 831847462<br>
SIRET: 83184746200015<br>
Code APE : 6201Z<br>
TVA intracommunautaire : FR21831847462<br>
Société enregistrée au tribunal de commerce de Bobigny, France<br>
Responsable<br>
Président : Benoit Deshayes
Hébergement<br>
OVH<br>
RCS Lille Métropole 424 761 419 00045<br>

        
CONDITIONS GÉNÉRALES DE VENTE<br>
Préambule<br>

Les présentes conditions générales de vente (ci-après « CGV ») sont applicables exclusivement à la vente en ligne des produits de la marque Forj appartenant à la société B concept sur le site Forj.shop.
Les présentes Conditions Générales de Vente régissent exclusivement les contrats de vente en ligne des produits de la société B concept aux acheteurs ayant la qualité de consommateurs (ci-après le client ») et constituent avec le bon de commande, et les Conditions Particulières de Vente si applicables, les documents contractuels opposables aux parties, à l’exclusion de tous autres documents, prospectus, catalogues ou photographies des produits qui n’ont qu’une valeur indicative.
Les présentes Conditions Générales de Vente sont exclusivement applicables aux produits livrés aux clients établis en France.
Les CGV sont mises à la disposition des clients sur le présent site, où elles sont directement consultables.
Toute commande effectuée sur le site internet nécessite que le client accepte préalablement et sans réserve les CGV dans leur ensemble. En cas de désaccord avec les termes et conditions des CGV, le client ne doit pas utiliser le site internet.
Seules les personnes juridiques capables de souscrire des contrats concernant les produits proposés à la vente sur le site Internet peuvent passer commande sur le site Internet. Lors de la passation de la commande, le client garantit avoir la pleine capacité juridique pour adhérer aux Conditions Générales de Vente, passer commande et conclure la vente.<br>

        
Définitions<br>

Les termes et expressions identifiés par une majuscule dans les présentes Conditions Générales de Vente ont la signification indiquée ci-après (qu’ils soient employés au singulier ou au pluriel) :
« Conditions Générales de Vente ou CGV » : désignent le présent document,
« Conditions Particulières de Vente ou CPV » : désignent des conditions particulières attachées à une vente spécifique, dont les termes annulent ou remplacent partiellement les présentes CGV,
« Commande » : désigne l’ordre d’achat du client portant sur un ou plusieurs produit(s) passé par utilisation du site Internet,
« Site Internet » : désigne le site internet accessible à l’adresse www.forj.shop
« Produit » : désigne un produit offert à la vente sur le site Internet,
« Client » : désigne une personne physique majeure consommatrice qui utilise le site Internet et acquiert un ou plusieurs produit(s), pour ses besoins personnels, par le biais du site Internet en ayant préalablement adhéré aux Conditions Générales de Vente.

Description des produits

Sur notre site, vous avez la possibilité de concevoir votre propre table sur-mesure via une interface en 3D. Les matériaux utilisés et le principe de montage sont fournis au Client lors de la réception du produit par ce dernier.
Avant de passer commande, nous vous invitons à bien étudier la description et les caractéristiques du produit.
Les photographies illustrant les produits ainsi que les visuels du configurateur ne constituent pas des documents contractuels.
Compte tenu de la spécificité du produit, nous adaptons notre tarif de livraison en fonction des conditions d’accès pour la livraisons. Nous nous réservons donc le droit de modifier les prix, emballages et spécifications ainsi que tout service lié aux produits et ce, en tout temps et sans préavis.<br>

Prix<br>

a) Tous nos prix sont affichés en euros (€) TTC et doivent être réglés (ainsi que toute taxe applicable en ce compris tous droits et taxes acquittés en votre nom et pour votre compte au moment du dédouanement des produits) en euros (€). Ils incluent les frais de livraison ou de transport à votre domicile ou en point de retrait en France, ou tout frais supplémentaire éventuel.<br>
b) Nous nous réservons le droit de modifier les prix à tout moment, tout en vous garantissant l’application du prix en vigueur au jour de la commande hors frais de livraison supplémentaires.

Promotion<br>
        
Les produits présents sur notre site peuvent faire l’objet de promotion pour une période bien définie et spécifiée sur la page produit.
Néanmoins, afin de vous donner accès au meilleur choix possible de produits, la durée de promotion des produits les plus demandés peut être prolongée. La prolongation sera alors indiquée sur la page produit.
Tout au long des promotions, nous groupons les commandes. Ceci nous permet de vous proposer les meilleurs prix possibles et permet à nos fabricants de commander et traiter les meilleurs matériaux à un prix compétitif.<br>
Notre mode de fonctionnement très particulier de fabrication à la demande implique que la plupart des produits soient commandés une fois la période de promotion achevée.


Offre<br>

Les offres de ventes en ligne présentées sur le site sont réservées aux clients résidant en France métropolitaine (Corse excluse), pour des livraisons dans ces mêmes zones géographiques.
Les offres de vente en ligne présentées sur le site sont valables, à défaut d’indication de durée particulière, tant que les produits figurent dans le catalogue électronique.
L’acceptation de l’offre par le client est validée, conformément au procédé du double clic, par la confirmation de la commande.<br>

Achat de produit / commande<br>

a) Étapes de la Commande
Les commandes sont passées et reçues uniquement via Internet et traitées par la société B concept propriétaire de la marque Forj.
Pour passer commande, vous devez, après avoir terminé votre configuration de table ou rempli votre panier virtuel en indiquant les produits sélectionnés, cliquer sur le bouton « commander » et fournir les informations relatives à la livraison et au mode de paiement.
Méthodes de paiement :
Le règlement s’effectue en totalité à la commande (sous réserve des frais supplémentaires liés à la livraison). En plus de pouvoir régler vos achats en toute sécurité avec votre carte bancaire, tous les échanges bancaires sont sécurisés par notre partenaire de paiement en ligne stripe.com.
Avant de cliquer sur le bouton « Valider la Commande », le client a la possibilité de vérifier le détail de sa commande et son prix total et de revenir aux pages précédentes pour corriger d’éventuelles erreurs ou éventuellement modifier sa commande (conformément à l’article 1369-5 du Code civil).
La confirmation de la commande entraîne acceptation des CGV et formation du contrat.
Un courrier électronique accusant réception de la commande et de son paiement est envoyé par la Société dans les meilleurs délais.
A ce stade, des Conditions Particulières de Vente peuvent s’appliquer. Le refus de celles-ci par le Client entraîne l’annulation du contrat préalablement formé, avec le remboursement intégral des sommes déjà versées par le Client.
Avant de passer commande sur notre site, il vous incombe de vérifier et déterminer votre pleine capacité à recevoir les produits et notamment de vous assurer que le produit commandé pourra être livré à votre adresse sans encombre. Il vous incombe donc de vérifier les dimensions des pièces des passages, escaliers et autres portes et de vous assurer que la livraison peut être réalisée sans autres spécifications.
Toutes les informations requises sur la page avant validation de la commande doivent être renseignées avec précision et exactitude. Nous ne saurions être tenus responsables d’un retard de livraison dû à une erreur liée à l’adresse de livraison ou au numéro de téléphone. Tout frais ou coût supplémentaire éventuel lié à des complications ou des retards de livraison sera par conséquent ajouté à la facture de votre commande.<br>
b) Modification de la Commande
Toute modification (et notamment modification de l’adresse de livraison, orthographe d’un nom, de votre numéro de téléphone ou toute autre information particulière) de votre commande après confirmation de celle-ci par nos services, est soumise à notre acceptation.
Nous vous indiquerons alors si elle est envisageable et quels seront les changements et frais supplémentaires éventuels.<br>
c) Validation de la Commande<br>
Nous nous réservons le droit de refuser toute commande pour des motifs légitimes et, plus particulièrement, si les dimensions de Produits commandés nous paraissent anormales ou en cas de problème de paiement.
Nous nous réservons la faculté de demander toute pièce complémentaire justifiant de votre identité que nous estimerions nécessaire.
Nous nous réservons également le droit de refuser toute commande dans l’hypothèse où le prix affiché (et payé par le Client) serait inexact ou dérisoire en raison d’un dysfonctionnement technique ou informatique.<br>
d) Annulation de Commande
La société produit des meubles sur-mesure en fonction des spécifications données par les clients. Ces produits ne pourraient être revendus et ne peuvent donc pas être remboursés.
En vertu des dispositions de l’article L121-21-8 du code de la consommation, le droit de rétractation ne peut être exercé pour les contrats de fourniture de biens confectionnés selon les spécifications du consommateur ou nettement personnalisés.<br>


Conditions particulières de vente<br>
Dans certains cas, des Conditions Particulières de Vente peuvent être attachées au contrat. Les CPV se substituent, pour les clauses qu’elles recouvrent, aux CGV. Les CPV sont envoyées au Client par email sur l’adresse renseignée lors de l’inscription, ou par tout moyen jugé nécessaire par la société B concept. La simple constatation de l’envoi suffit à la régularité de la procédure. Le client accepte les CPV associées au Contrat en répondant à l’email comportant les CPV avec la mention « Bon pour accord et acceptation des conditions particulières de vente », et fournit les éventuels renseignements supplémentaires demandés. Les CPV ne s’appliquent qu’à un seul et unique contrat, sauf mention contraire.

        
Contrat<br>

a) Conclusion du contrat
La commande ne sera considérée comme définitive qu’à compter de l’envoi par la Société au client de l’email de confirmation visé ci-dessus, et la vente du ou des produit(s) ne sera constatée qu’après le paiement du prix correspondant par le client.<br>
b) Archivage et preuve
L’archivage des communications, des bons de commande et des factures est effectué sur un support fiable et durable de manière à constituer une copie fidèle et durable.
Ces communications, bons de commande et factures peuvent être produits à titre de preuve du contrat.<br>
c) Annulation de la Commande
S’il arrive qu’une commande ait du retard ou ne puisse être traitée par le fabricant pour quelque raison que ce soit (nombre insuffisant de commandes, problèmes liés à la fabrication, la qualité ou de toute autre nature), nous ferons le maximum pour vous en informer rapidement.
Dans l’hypothèse où le(les) fournisseur(s) que nous avons choisi déciderait qu’il lui est impossible de fabriquer un produit spécifique répondant à nos exigences de qualité, nous le retirerons dès que possible de notre site.
Si vous avez commandé ce produit en particulier, nous vous en informerons dès que possible et dans l’hypothèse où votre commande serait annulée, nous procéderons à votre remboursement intégral.<br>


Paiement<br>

a) Modalités de paiement<br>
Le prix est exigible en totalité après confirmation de la Commande. B concept se sert d’un des systèmes les plus sécurisés disponibles sur Internet, le protocole SSL (Secure Socket Layer) doublé d’un cryptage afin de protéger toutes les données de valeur liées à votre paiement.
Une carte de crédit et les informations liées sont nécessaires pour procéder au paiement. Le règlement de toute Commande doit s’effectuer uniquement à l’aide d’une carte de crédit émise par une des sociétés figurant sur la liste de la page de paiement. Vous nous certifiez, lors du paiement, que vous êtes titulaire de la carte bancaire et que vous disposez de fonds suffisants pour régler la Commande.
Le paiement de la Commande par le Client est irrévocable.
La vente sera ensuite soumise au traitement dès que vous cliquerez sur le bouton « Confirmer la Commande ». Vous recevrez un email de notre part confirmant la vente, la disponibilité du Produit et la date de livraison moyenne à prévoir.
Nous nous réservons le droit de refuser de traiter une transaction pour quelque raison que ce soit ou de refuser le service à quiconque à tout moment et à notre seule discrétion.
Nous ne saurions être tenus responsables envers vous ou un tiers d’avoir refusé de traiter une transaction ou de suspendre toute transaction après que le traitement ait commencé.<br>
 
b) Défaut de paiement et réserve de propriété<br>
Les produits commandés demeurent la propriété de la Société jusqu’à complet paiement du prix de vente.
De convention expresse et sauf report accordé par la Société, tout défaut ou retard de règlement entraînera (1) l’exigibilité immédiate de toute somme restant due, quelle que soit la date d’échéance prévue, sans formalité aucune ni mise en demeure préalable, (2) le versement par le Client d’intérêts de retard au taux de trois fois le taux d’intérêts légal en vigueur (ce taux sera actualisé selon les textes et conditions financières en vigueur), et (3) le paiement d’une indemnité forfaitaire pour frais de recouvrement fixée à 40 euros.
En cas de livraison et de défaut de paiement, la Société a le droit de revendiquer la propriété des produits commandés, le client s’engageant à restituer tout Produit non payé, tous les frais étant alors à sa charge.<br>


Livraison<br>

a) Lieu/Frais de livraison<br>
Nous vous livrons partout en France continentale (Corse excluse), à l’exclusion de tout autre territoire.
Les frais de livraison varient en fonction du lieu de livraison. Des frais supplémentaires peuvent être ajoutés à la commande pour toute livraison prévue dans un endroit isolé ou difficile d’accès qui demanderait une attention particulière. Les frais supplémentaires seront calculés en fonction de l’adresse de livraison et vous seront communiqués après réception de votre commande.
L’adresse de livraison désignée par le client peut être différente de l’adresse de facturation.<br>

b) Délai de livraison<br>
Le délai de livraison peut varier en fonction des Produits commandés, de la quantité de commandes et de la disponibilité des navires de transport.
Notre mode de fonctionnement de fabrication à la demande amène ce délai à varier de 5 à 7 semaines en moyenne. Il s’agit d’une moyenne, il arrive que le délai soit plus long ou à l’inverse bien plus court. Toutes les estimations de délai données au moment de la validation et de la confirmation de la commande sont sujettes à modification. En cas de modification du délai de livraison, nous ferons de notre mieux pour vous contacter et vous informer de tout changement. En tout état de cause, les produits vous seront livrés dans un délai de 7 semaines à compter de la validation de la commande, sauf délai plus long indiqué lors de la confirmation de la commande.<br>

c) Modalités de livraison<br>
Les produits sont livrés à l’adresse indiquée sur le bon de commande.
Nous faisons appel à différents transporteurs pour vous livrer, nous prendrons contact avec vous pour fixer les modalités de livraison (heure de livraison, créneaux horaires, information supplémentaires).
Toute réclamation d’erreur de livraison doit être formulée par le client à la Société le jour même de la livraison ou au plus tard le premier jour ouvré suivant la livraison.
En fonction du poids, de la taille et de la quantité de produits, nous pouvons faire appel à différents transporteurs et services afin de vous livrer votre commande. Dans certains cas particuliers, notamment les colis volumineux; le transporteur vous contactera et vous conviendrez ensemble d’un créneau de livraison.
Vous devrez signer un bon de livraison lors de la réception des produits, après avoir vérifié la conformité et l’état d’emballage des produits.<br>

d) Retrait des produits en cas d’absence<br>
En cas d’absence du destinataire lors de la livraison, le transporteur déposera un avis de passage à l’adresse de livraison indiquée par le client. Les produits devront alors être récupérés ou retirés à l’adresse et selon les modalités indiquées par le transporteur.
En l’absence de retrait dans les délais fixés par le transporteur, les produits seront retournés à la Société et le Client prendra à sa charge l’organisation du transport et les frais de livraison.<br>

e) Conformité des produits<br>
Les Produits de la marque Forj sont uniques et fabriqués à la main et sur demande. Les produits peuvent présenter des traces de fabrication mineures qui n’altèrent en rien l’usage et la spécificité du Produit. Ces marques ou traces ne peuvent être considérées comme des défauts de conformité.
Nous vous invitons à ouvrir et vérifier votre commande le jour de sa livraison et à nous informer aussitôt de tout dommage éventuel subi lors du transport. Vous devez vous assurer que tous les produits et éléments constitutifs d’un produit n’ont subi aucun dommage avant de procéder à leur montage. Il vous appartient de vérifier que les produits livrés vous parviennent en parfait état avant de signer le bon de livraison.<br>

En cas de livraison d’un article non conforme à votre commande, endommagé ou erroné, nous vous invitons à nous contacter dès que possible et au plus tard 3 jours à compter de la livraison, pour convenir d’un remboursement ou d’un remplacement.
Nous vous demanderons éventuellement de nous fournir une photo des parties endommagées pour nos dossiers et afin de nous permettre de prendre les mesures appropriées.
Les produits retournés doivent nous être renvoyés dans leur emballage d’origine ou dans un emballage équivalent.<br>

f) Retard/Défaut de livraison<br>
Le retard de livraison excédant 14 jours et non dû à un cas de force majeure ou au fait du client, peut entrainer la résolution de la vente par le client qui, dans un délai de 60 jours ouvrés à compter de la date de livraison indiquée, renoncera à sa commande par lettre recommandée avec accusé de réception, retournera le cas échéant les produits s’ils ont été livrés.
Le client sera alors remboursé intégralement dans un délai de 30 jours, à l’exclusion de toute indemnité.
Le défaut de livraison entraînera la résolution de plein droit du contrat de vente.<br>


Protection des données personnelles<br>
Conformément à la loi Informatique et Libertés du 6 janvier 1978, vous disposez des droits d’interrogation d’accès, de modification, d’opposition et de rectification sur les données personnelles vous concernant. Vous pouvez exercer votre droit d’accès aux données vous concernant et les faire rectifier en nous contactant à forj.info@gmail.com.<br>

Garanties<br>
a) Garantie légale<br>
Tous les produits fournis par la Société bénéficient de la garantie légale de conformité prévue par les articles L.211-4 à L.211-14 du Code de la Consommation et de la garantie légale des vices cachés prévue aux articles 1641 à 1649 du Code civil.
Au titre de ces garanties le vendeur professionnel s’engage, au choix du client, à lui rembourser ou à lui échanger des produits défectueux ou ne correspondant pas à sa commande dans un délai de 6 mois à compter de la livraison.
La garantie ne couvre pas les dégâts, casses ou dysfonctionnements résultant du non-respect des précautions d’emploi.<br>
b) Service après vente<br>
Les réclamations faites au titre des garanties doivent être adressées par courrier au service après-vente : forj.info@gmail.com
Les produits couverts par les garanties doivent être retournés neufs, complets et dans leur état et emballage d’origine (ou emballage équivalent) après réception et confirmation de la réclamation par le service après-vente.<br>


Responsabilités<br>
La responsabilité de la Société ne peut être engagée en cas d’inexécution ou de mauvaise exécution du contrat due, soit au fait de l’acheteur, soit au fait insurmontable et imprévisible d’un tiers au contrat, soit à la force majeure.
Aucune réglementation propre au pays de livraison et/ou de consultation du site Internet ne pourra être opposée à la Société.<br>


Clause résolutoire<br>
La résolution de la commande dans les cas prévus aux présentes CGV sera prononcée par lettre recommandée avec accusé de réception et sera acquise de plein droit sans formalité judiciaire.<br>

Droit applicable<br>
En cas de litige, la loi appliquée sera celle en vigueur dans le pays où est situé le siège social de notre société.
    </p>
{% endblock %}
