{% extends "forj/checkout/success.html" %}

{% block title %}Conditions générales de vente, mentions légales, livraison{% endblock %}

{% block wrapper_class %}wrapper wrapper--centered{% endblock %}

{% block success_content %}
    <h1>Conditions générales de vente, mentions légales, livraison</h1>
    <p>
        Ces conditions générales de vente ont été mises à jour le 11 janvier 2017.<br>
        L’éditeur et hébergeur du site est la société mycs SARL, société à responsabilité limitée immatriculée en France sous le numéro SIREN 823 810 924 00014 (ci-après la « Société »).
        <br>
        Son siège social se situe à l’adresse suivante :<br>
        8 rue Saint-Martin,<br>
        75004 PARIS <br>
        <br>
        Les présentes conditions générales de vente et d’utilisation régissent toute utilisation du site et des services qui y sont proposés. Nous nous réservons le droit de modifier ou de supprimer, en tout ou en partie, les conditions générales de vente ainsi que les conditions d'utilisation, et ce, en tout temps et sans préavis. La date de la dernière modification de nos conditions figure en tête de cette page.<br>
        En continuant d'utiliser le site après ces modifications, vous signifiez votre acceptation des nouvelles CGV. <br>
        <br>
        Il est recommandé de consulter régulièrement la présente page afin de vérifier si des modifications ont été apportées aux conditions et le cas échéant d’en prendre connaissance.<br>
        <br>
        Conditions générales de vente<br>
        Les présentes conditions générales de vente (ci-après « CGV ») sont applicables exclusivement à la vente en ligne des produits de la société mycs SARL, sur le Site « fr.mycs.com ».
        <br>
        Les présentes Conditions Générales de Vente régissent exclusivement les contrats de vente en ligne des produits de la société mycs SARL aux acheteurs ayant la qualité de consommateurs (ci-après "le client") et constituent avec le bon de commande, les documents contractuels opposables aux parties, à l’exclusion de tout autre document, prospectus, catalogue ou photographie des produits qui n’ont qu’une valeur indicative. <br>
        <br>
        Les présentes Conditions Générales de Vente sont exclusivement applicables aux produits livrés aux clients établis en France.
        <br>
        Les CGV sont mises à la disposition des clients sur le présent site, où elles sont directement consultables.
        <br>
        Nous vous recommandons de prendre le temps de lire les CGV car elles régissent les relations contractuelles liées à votre utilisation de notre site et aux services qui y sont proposés. En cochant la case prévue à cet effet vous indiquez avoir pris connaissance de nos Conditions Générales de Vente et les acceptez.
        <br>
        Toute commande effectuée sur le site internet nécessite que le client accepte préalablement et sans réserve les CGV dans leur ensemble. En cas de désaccord avec les termes et conditions des CGV, le client ne doit pas utiliser le site internet.
        <br>
        Seules les personnes juridiques capables de souscrire des contrats concernant les produits proposés à la vente sur le site Internet peuvent passer commande sur le site Internet. Lors de la passation de la commande, le client garantit avoir la pleine capacité juridique pour adhérer aux Conditions Générales de Vente, passer commande et conclure la vente.
        <br>
        1. DÉFINITIONS<br>
        Les termes et expressions identifiés par une majuscule dans les présentes Conditions Générales de Vente ont la signification indiquée ci-après (qu’ils soient employés au singulier ou au pluriel) :
        <br>
        « Conditions Générales de Vente ou CGV » : désignent le présent document,<br>
        « Commande » : désigne l’ordre d’achat du client portant sur un ou plusieurs produit(s) passé par utilisation du site Internet,<br>
        « Site Internet » : désigne le site internet accessible à l’adresse fr.mycs.com<br>
        « Produit » : désigne un produit offert à la vente sur le site Internet,<br>
        « Client » : désigne une personne physique majeure consommatrice qui utilise le site Internet et acquiert un ou plusieurs produit(s), pour ses besoins personnels, par le biais du site Internet en ayant préalablement adhéré aux Conditions Générales de Vente.<br>
        <br>
        2. DESCRIPTION DES PRODUITS<br>
        Sur notre site, chaque produit disponible à l’achat est décrit sur une page produit qui lui est spécifique. Nous nous efforçons de représenter l’intégralité des caractéristiques des produits le plus fidèlement possible à l’aide de photographies et des descriptions fournies par les designers, les fournisseurs ou les fabricants.
        <br>
        Avant de passer commande, nous vous invitons donc à bien étudier la description et les caractéristiques du produit.
        <br>
        Les photographies illustrant les produits ne constituent pas un document contractuel.
        <br>
        Dans certains cas, vous devrez assembler vous-même certains produits.
        <br>
        Nous avons adopté une politique de développement continu des produits afin de vous proposer ce que nous considérons le meilleur du design au meilleur prix. Nous nous réservons donc le droit de modifier les prix, emballages et spécifications ainsi que tout service lié aux produits et ce, en tout temps et sans préavis.
        <br>
        3. PRIX<br>
        a) Tous nos prix sont affichés en euros (€) TTC et doivent être réglés (ainsi que toute taxe applicable en ce compris tous droits et taxes acquittés en votre nom et pour votre compte au moment du dédouanement des produits) en euros (€). Ils n’incluent pas tout frais supplémentaire éventuel. Ces frais supplémentaires seront ajoutés sur la page récapitulative avant validation définitive de la commande et figureront également sur votre page de confirmation de commande.
        <br>
        b) Nous nous réservons le droit de modifier les prix à tout moment, tout en vous garantissant l’application du prix en vigueur au jour de la commande.
        <br>
        c) Si vous avez la moindre question ou le moindre commentaire à nous soumettre, n’hésitez pas à nous contacter à l’adresse email suivante : support@mycs.com ou par téléphone au 01.86.65.12.20.
        <br>
        4. PROMOTIONS<br>
        Les produits présents sur notre site peuvent faire l’objet de promotion pour une période bien définie et spécifiée sur la page produit.
        <br>
        Néanmoins, afin de vous donner accès au meilleur choix possible de produits, la durée de promotion des produits les plus demandés peut être prolongée. La prolongation sera alors indiquée sur la page produit.
        <br>
        Tout au long des promotions, nous groupons les commandes. Ceci nous permet de vous proposer les meilleurs prix possibles et permet à nos fabricants de commander et traiter les meilleurs matériaux à un prix compétitif.
        <br>
        Notre mode de fonctionnement très particulier de fabrication à la demande implique que la plupart des produits soient commandés une fois la période de promotion achevée.
        <br>
        5. OFFRE<br>
        Les offres de ventes en ligne présentées sur le site sont réservées aux clients résidants en France métropolitaine (Corse incluse).
        <br>
        Les offres de vente en ligne présentées sur le site sont valables, à défaut d’indication de durée particulière, tant que les produits figurent dans le catalogue électronique.
        <br>
        L’acceptation de l’offre par le client est validée, conformément au procédé du double clic, par la confirmation de la commande.
        <br>
        6. ACHAT DE PRODUITS/COMMANDE<br>
        a) Étapes de la Commande<br>
        Les commandes sont passées et reçues uniquement via Internet et traitées par la société mycs SARL. Pour passer commande, vous devez, après avoir rempli votre panier virtuel en indiquant les produits sélectionnés et les quantités souhaitées, cliquer sur le bouton « payer » et fournir les informations relatives à la livraison et au mode de paiement.
        <br>
        Méthodes de paiement : <br>
        <br>
        Le règlement s'effectue en totalité à la commande. Nous n'acceptons pas les paiements par chèque. Les moyens de paiement suivants sont mis à votre disposition pour régler les achats effectués sur notre site:
        <br>
        Carte Bancaire<br>
        Virements Bancaire par avance<br>
        Paypal<br>
        <br>
        <br>
        Avant de cliquer sur le bouton « Payer », le client a la possibilité de vérifier le détail de sa commande et son prix total et de revenir aux pages précédentes pour corriger d’éventuelles erreurs ou éventuellement modifier sa commande (conformément à l’article 1369-5 du Code civil). La confirmation de la commande entraîne l’acceptation des CGV et la formation du contrat.
        <br>
        Un courrier électronique accusant réception de la commande et de son paiement est envoyé par la Société dans les meilleurs délais.
        <br>
        Tout produit faisant partie de la même commande qui ne figurerait pas dans l’email de confirmation de commande que nous vous avons envoyé ne fait pas partie de ce contrat.
        <br>
        Avant de passer commande sur notre site, il vous incombe de vérifier et déterminer votre pleine capacité à recevoir les produits et notamment de vous assurer que le produit commandé pourra être livré à votre adresse sans encombre. Il vous incombe donc de vérifier les dimensions des pièces de passage, escaliers et autres portes et de vous assurer que la livraison peut être réalisée sans autres spécifications.
        <br>
        Toutes les informations requises sur la page avant validation de la commande doivent être renseignées avec précision et exactitude. Nous ne saurions être tenus responsables d’un retard de livraison dû à une erreur liée à l’adresse de livraison ou au numéro de téléphone. Tout frais ou coût supplémentaire éventuel lié à des complications ou des retards de livraison sera par conséquent ajouté à la facture de votre commande.
        b) Modification de la Commande<br>
        Toute modification (et notamment modification de l’adresse de livraison, orthographe d’un nom, de votre numéro de téléphone ou toute autre information particulière) de votre commande après confirmation de celle-ci par nos services, est soumise à notre acceptation.
        <br>
        Nous vous indiquerons alors si elle est envisageable et quels seront les changements et frais supplémentaires éventuels.
        <br>
        c) Validation de la Commande<br>
        Nous nous réservons le droit de refuser toute commande pour des motifs légitimes et, plus particulièrement, si les quantités de produits commandés sont anormalement élevées pour des acheteurs ayant la qualité de consommateur ou en cas de problème de paiement.
        <br>
        Nous nous réservons la faculté de demander toute pièce complémentaire justifiant de votre identité que nous estimerions nécessaire.
        <br>
        Nous nous réservons également le droit de refuser toute commande dans l’hypothèse où le prix affiché (et payé par le client) serait inexact ou dérisoire en raison d’un dysfonctionnement technique ou informatique.
        <br>
        d) Droit de rétractation<br>
        Nous vous rappelons que, si vous souhaitez annuler votre commande, vous avez le droit de vous rétracter du présent contrat sans donner de motif dans un délai de 14 jours calendaires, dimanches et jours fériés inclus, (en application de l’article L.121-20 du Code de la consommation) pour demander le retour des produits. Le droit de rétractation court à compter de la conclusion du contrat en cas de prestation de service (service de montage). Le délai de rétractation expire 14 jours après le jour où vous-même, ou un tiers autre que le transporteur et désigné par vous, prend physiquement possession du dernier bien.
        <br>
        Pour exercer le droit de rétractation, vous devez nous notifier votre décision de rétractation du présent contrat au moyen d’une déclaration dénuée d’ambiguïté (par exemple, lettre envoyée par la poste, télécopie ou courrier électronique) par voie postale à l'adresse:
        <br>
        mycs SARL<br>
        8 rue Saint-Martin<br>
        75004 PARIS<br>
        E-Mail: support@mycs.com<br>
        <br>
        Vous pouvez utiliser le formulaire de rétractation mais ce n’est pas obligatoire. Formulaire de rétractation
        <br>
        (Veuillez compléter et renvoyer le présent formulaire uniquement si vous souhaitez vous rétracter du contrat.)
        <br>
        À l'attention de mycs SARL, 8 rue Saint-Martin, 75004 PARIS, E-Mail: support@mycs.com
        <br>
        Je/nous (*) vous notifie / notifions (*) par la présente ma / notre (*) rétractation du contrat portant sur la vente du bien (*) / pour la prestation de service (*) ci-dessous<br>
        Commandé le (*)/reçu le (*)<br>
        Nom du/des consommateur(s)<br>
        Adresse du/des consommateur(s)<br>
        Signature du/des consommateur(s) (uniquement en cas de notification du présent formulaire sur papier)<br>
        Date<br>
        <br>
        (*) Biffez la mention inutile.
        <br>
        Pour que le délai de rétractation soit respecté il suffit que vous transmettiez votre communication relative à l’exercice du droit de rétractation avant l’expiration du délai de rétractation.
        <br>
        Nous vous invitons par exemple à joindre le récapitulatif de votre commande client avec le colis, il s’agit d’un document nécessaire au traitement du retour. Une fois reçus, les produits seront inspectés et notre service client vous contactera.
        <br>
        La commande sera remboursée intégralement y compris les frais de livraison (sur la base du mode de livraison standard) à l'exception des frais de retours. Nous nous efforçons de répondre aux emails sous deux jours ouvrés à compter de leur réception. Notre service client vous contactera ensuite pour organiser le retour du produit et vous expliquer toutes les modalités.
        <br>
        Les produits retournés doivent nous parvenir en parfait état. Vous devez notamment les renvoyer dans leur emballage d’origine, propre ou dans un emballage de qualité suffisante pour permettre leur transport vers nos entrepôts sans dommage. Les produits ne doivent pas avoir servi ou avoir été montés d’aucune manière. Les retours ne seront pas acceptés une fois l’assemblage entamé.
        <br>
        Après réception de votre email, nous prendrons contact avec notre transporteur afin d’organiser le retour du produit. Le transporteur vous contactera ensuite rapidement afin de fixer une date possible de collecte.
        <br>
        Nous ne saurions être tenus responsables des pertes ou dommages des produits qui se produiraient lors du transport vers nos entrepôts. Dans cette hypothèse, les frais de livraison ne vous seraient pas remboursés.
        7. CONTRAT<br>
        a) Conclusion du contrat<br>
        La commande ne sera considérée comme définitive qu’à compter de l’envoi par la Société au client de l’email de validation de commande visé ci-dessus, et la vente du ou des produit(s) ne sera constatée qu’après le paiement du prix correspondant par le client.
        <br>
        b) Archivage et preuve<br>
        L’archivage des communications, des bons de commande et des factures est effectué sur un support fiable et durable de manière à constituer une copie fidèle et durable.
        <br>
        Ces communications, bons de commande et factures peuvent être produits à titre de preuve du contrat.
        <br>
        c) Rétractation<br>
        Nous vous rappelons que, si vous souhaitez annuler votre commande, vous avez le droit de vous rétracter du présent contrat sans donner de motif dans un délai de 14 jours calendaires, dimanches et jours fériés inclus, (en application de l’article L.121-20 du Code de la consommation) pour demander le retour des produits. Le droit de rétractation court à compter de la conclusion du contrat en cas de prestation de service (service de montage). Le délai de rétractation expire 14 jours après le jour où vous-même, ou un tiers autre que le transporteur et désigné par vous, prend physiquement possession du dernier bien.
        <br>
        Pour exercer le droit de rétractation, vous devez nous notifier votre décision de rétractation du présent contrat au moyen d’une déclaration dénuée d’ambiguïté (par exemple, lettre envoyée par la poste, télécopie ou courrier électronique) par voie postale à l'adresse:
        <br>
        mycs SARL<br>
        8 rue Saint-Martin,<br>
        75004 PARIS<br>
        E-Mail: support@mycs.com<br>
        <br>
        Vous pouvez utiliser le formulaire de rétractation mais ce n’est pas obligatoire. Formulaire de rétractation
        <br>
        (Veuillez compléter et renvoyer le présent formulaire uniquement si vous souhaitez vous rétracter du contrat.)
        <br>
        À l'attention de mycs SARL, 8 rue Saint-Martin, 75004 PARIS, E-Mail: support@mycs.com
        <br>
        Je/nous (*) vous notifie / notifions (*) par la présente ma / notre (*) rétractation du contrat portant sur la vente du bien (*) / pour la prestation de service (*) ci-dessous
        Commandé le (*)/reçu le (*)
        Nom du/des consommateur(s)
        Adresse du/des consommateur(s)
        Signature du/des consommateur(s) (uniquement en cas de notification du présent formulaire sur papier)
        Date
        <br>
        (*) Biffez la mention inutile.
        <br>
        Pour que le délai de rétractation soit respecté il suffit que vous transmettiez votre communication relative à l’exercice du droit derétractation avant l’expiration du délai de rétractation.
        <br>
        Nous vous invitons par exemple à joindre le récapitulatif de votre commande client avec le colis, il s’agit d’un document nécessaire au traitement du retour. Une fois reçus, les produits seront inspectés et notre service client vous contactera.
        <br>
        La commande sera remboursée intégralement y compris les frais de livraison (sur la base du mode de livraison standard) à l'exception des frais de retours. Nous nous efforçons de répondre aux emails sous deux jours ouvrés à compter de leur réception. Notre service client vous contactera ensuite pour organiser le retour du produit et vous expliquer toutes les modalités.
        <br>
        Le client prend en charge les frais de retour des marchandises. La reprise des marchandises par les transporteurs sera d'un maximum de:
        Retour Table basse max. 60 EUR<br>
        Retour Table max. 100 EUR<br>
        Retour Armoire max. 400 EUR<br>
        Retour Étagère max. 400 EUR<br>
        Retour Dressing max. 400 EUR<br>
        Les produits retournés doivent nous parvenir en parfait état. Vous devez notamment les renvoyer dans leur emballage d’origine, propre ou dans un emballage de qualité suffisante pour permettre leur transport vers nos entrepôts sans dommage. Les produits ne doivent pas avoir servi ou avoir été montés d’aucune manière. Les retours ne seront pas acceptés une fois l’assemblage entamé.
        <br>
        Après réception de votre email, nous prendrons contact avec notre transporteur afin d’organiser le retour du produit. Le transporteur vous contactera ensuite rapidement afin de fixer une date possible de collecte.
        <br>
        Nous ne saurions être tenus responsables des pertes ou dommages des produits qui se produiraient lors du transport vers nos entrepôts. Dans cette hypothèse, les frais de livraison ne vous seraient pas remboursés.
        d) Annulation de la Commande
        S’il arrive qu’une commande ait du retard ou ne puisse être traitée par le fabricant pour quelque raison que ce soit (nombre insuffisant de commandes, problèmes liés à la fabrication, la qualité ou de toute autre nature), nous ferons le maximum pour vous en informer rapidement.
        <br>
        Dans l’hypothèse où le fabricant que nous avons choisi déciderait qu’il lui est impossible de fabriquer un produit spécifique répondant à nos exigences de qualité, nous le retirerions dès que possible de notre site.
        <br>
        Si vous avez commandé ce produit en particulier, nous vous en informerons dès que possible et dans l’hypothèse où votre commande serait annulée, nous procéderons à votre remboursement intégral.
        <br>
        8. DÉDOUANEMENT
        En passant votre commande sur notre site, vous mandatez expressément mycs GmbH de réaliser, en votre nom et pour votre compte, les éventuelles opérations de dédouanement induites par votre achat et toutes les formalités qui y sont relatives auprès des services des douanes y compris le paiement des droits et taxes et, le cas échéant, les éventuelles demandes de remboursement de droits et taxes (pour, notamment, les biens en retour).
        <br>
        Ce mandat donné par vous implique pour mycs SARL de réaliser ou faire réaliser les opérations de dédouanement dans les règles de l’art et avec des prestataires choisis, le client restant importateur et destinataire réel des produits commandés au sens de la réglementation douanière.
        <br>
        9. PAIEMENT
        a) Modalités de paiement
        mycs SARL se sert d’un des systèmes les plus sécurisés disponibles sur Internet, le protocole SSL (Secure Socket Layer) doublé d’un cryptage afin de protéger toutes les données de valeur liées à votre paiement.
        <br>
        Le règlement s'effectue en totalité à la commande. Les moyens de paiement suivants sont mis à votre disposition pour régler les achats effectués sur notre site:
        <br>
        Carte Bancaire
        Virements Bancaire par avance
        Paypal
        <br>
        <br>
        Le paiement de la commande par le client est irrévocable, sous réserve de la faculté de rétractation.
        <br>
        La vente sera ensuite soumise au traitement dès que vous cliquerez sur le bouton « Payer». Vous recevrez un email de notre part confirmant la vente, la disponibilité du Produit et la date de livraison moyenne à prévoir.
        <br>
        Nous nous réservons le droit de refuser de traiter une transaction pour quelque raison que ce soit ou de refuser le service à quiconque à tout moment et à notre seule discrétion.
        <br>
        Nous ne saurions être tenus responsables envers vous ou un tiers d’avoir refusé de traiter une transaction ou de suspendre toute transaction après que le traitement ait commencé.
        b) Défaut de paiement et réserve de propriété
        Les produits commandés demeurent la propriété de la Société jusqu’à complet paiement du prix de vente.
        <br>
        En cas de livraison et de défaut de paiement, la Société a le droit de revendiquer la propriété des produits commandés, le client s’engageant à restituer tout produit non payé, tous les frais étant alors à sa charge.
        <br>
        10. LIVRAISON
        a) Lieu/Coûts de livraison
        Les produits disponibles sur le site de e-commerce ne peuvent être livrés qu’en France Métropolitaine (Corse incluse sur demande de devis) et en Belgique.
        <br>
        Les frais de livraison varient en fonction du lieu de livraison. Des frais supplémentaires peuvent être ajoutés à la commande pour toute livraison prévue dans un endroit isolé ou difficile d’accès qui demanderait une attention particulière. Les livraisons en direction de la Corse doivent faire l'objet d'un devis spécifique obtenable via notre service client au 01.86.65.12.20 ou support@mycs.com.
        <br>
        L’adresse de livraison désignée par le client peut être différente de l’adresse de facturation.
        <br>
        b) Délai de livraison<br>
        Le délai de livraison peut varier en fonction des produits commandés, de la quantité de commandes et de la disponibilité des moyens de transport. Notre mode de fonctionnement de fabrication à la demande amène ce délai à varier de 4 à 14 semaines.
        <br>
        c) Suivi de la Commande<br>
        Vous pouvez contacter notre service client pour suivre et connaître l’état de votre commande.
        <br>
        d) Modalités de livraison<br>
        Les produits sont livrés à l’adresse indiquée sur le bon de commande. Si les marchandises ne peuvent pas être livrées sur le lieu de résidence du client par la voie normale (porte d'entrée, escalier), l'entreprise de livraison est en droit d'exiger une compensation monétaire à la charge du client pour les frais supplémentaires engendrés ou de refuser la livraison dans l'appartement ou le lieu souhaité si le risque d'endommager la marchandise ou la propriété est trop important. mycs doit être informé à l'avance par les clients, de toutes les difficultés potentielles pouvant affecter la livraison des meubles (zones de stationnement interdites, escalier étroit, auncun ascenseur à partir du 3ème étage, etc)! Il est très important de préciser si les lieux de stationnement se situent à plus de 40m du lieu de résidence pour la livraison.
        <br>
        Toute réclamation d’erreur de livraison doit être formulée par le client à la Société le jour même de la livraison ou au plus tard le premier jour ouvré suivant la livraison.
        <br>
        En fonction du poids, de la taille et de la quantité de produits, nous pouvons faire appel à différents transporteurs et services afin de vous livrer votre commande. Dans certains cas particuliers, notamment les colis volumineux, le transporteur vous contactera et vous conviendrez ensemble d’un créneau de livraison.
        <br>
        Vous devrez signer un bon de livraison lors de la réception des produits, après avoir vérifié la conformité et l’état d’emballage des produits.
        <br>
        e) En cas d’absence<br>
        En cas d’absence du Client le jour de la livraison, le Client devra contacter le transporteur en amont du rendez–vous en vue de convenir d’un nouveau rendez–vous. En cas d’absence du Client à l’adresse indiquée le jour de la livraison, ou bien en cas d’erreur commise par le Client dans l’indication de l’adresse de livraison, des frais d’une nouvelle livraison seront à la charge du Client. Une nouvelle livraison devra être planifiée selon les modalités indiquées par le transporteur. En l’absence de livraison dans les délais fixés par le transporteur, les produits seront retournés à la Société, qui se réserve le droit de rembourser le prix au client, les frais de port restant à la charge du client.
        <br>
        f) Conformité des produits<br>
        Nous vous invitons à ouvrir et vérifier votre commande le jour de sa livraison et à nous informer aussitôt de tout dommage éventuel subi lors du transport. Vous devez vous assurer que tous les produits et éléments constitutifs d’un produit n’ont subi aucun dommage avant de procéder à leur montage. Il vous appartient de vérifier que les produits livrés vous parviennent en parfait état avant de signer le bon de livraison.
        <br>
        En cas de livraison d'un article non conforme à votre commande, endommagé ou erroné, nous vous invitons à nous contacter dès que possible et au plus tard 3 jours à compter de la livraison, pour convenir d’un remboursement ou d’un remplacement.
        <br>
        Nous vous demanderons éventuellement de nous fournir une photo des parties endommagées pour nos dossiers et afin de nous permettre de prendre les mesures appropriées.
        <br>
        Les produits retournés doivent nous être renvoyés dans leur emballage d’origine ou dans un emballage équivalent.
        <br>
        g) Retard/Défaut de livraison<br>
        Le retard de livraison excédant 14 jours au délai communiqué et non dû à un cas de force majeure ou au fait du client, peut entrainer la résolution de la vente par le client qui, dans un délai de 60 jours ouvrés à compter de la date de livraison indiquée, renoncera à sa commande par lettre recommandée avec accusé de réception, retournera le cas échéant les produits s’ils ont été livrés.
        <br>
        Le client sera alors remboursé intégralement dans un délai de 30 jours, à l’exclusion de toute indemnité.
        <br>
        Le défaut de livraison entraînera la résolution de plein droit du contrat de vente.
        <br>
        11. GARANTIES<br>
        a) Garantie légale<br>
        Tous les produits fournis par la Société bénéficient de la garantie légale de conformité prévue par les articles L.211-4 à L.211-14 du Code de la Consommation et de la garantie légale des vices cachés prévue aux articles 1641 à 1649 du Code civil.
        <br>
        Au titre de ces garanties le vendeur professionnel s’engage, au choix du client, à lui rembourser ou à lui échanger des produits défectueux ou ne correspondant pas à sa commande dans un délai de 6 mois à compter de la livraison.
        <br>
        La garantie ne couvre pas les dégâts, casses ou dysfonctionnements résultant du non-respect des précautions d’emploi.
        <br>
        b) Service après vente<br>
        Les réclamations faites au titre des garanties doivent être adressées par courrier au service après-vente : support@mycs.com.
        <br>
        Les produits couverts par les garanties doivent être retournés neufs, complets et dans leur état et emballage d’origine (ou emballage équivalent) après réception et confirmation de la réclamation par le service après-vente.
        <br>
        12. RESPONSABILITÉ<br>
        La responsabilité de la Société ne peut être engagée en cas d’inexécution ou de mauvaise exécution du contrat due, soit au fait de l’acheteur, soit au fait insurmontable et imprévisible d’un tiers au contrat, soit à la force majeure.
        <br>
        Aucune réglementation propre au pays de livraison et/ou de consultation du site Internet ne pourra être opposée à la Société.
        <br>
        13. CLAUSE RÉSOLUTOIRE<br>
        La résolution de la commande dans les cas prévus aux présentes CGV sera prononcée par lettre recommandée avec accusé de réception et sera acquise de plein droit sans formalité judiciaire.
        <br>
        14. DROIT APPLICABLE<br>
        En cas de litige, la loi appliquée sera celle en vigueur dans le pays où est situé le siège social de notre société.
        <br>
        15. NOUS CONTACTER<br>
        Si vous souhaitez être mis en relation avec notre service client, vous pouvez soit nous contacter via notre formulaire en ligne, soit nous envoyer un email à support@mycs.com ou nous appeler au : 01.86.65.12.20 (7 jours sur 7 de 9h00 à 18h).
    </p>
{% endblock %}
