<!DOCTYPE HTML>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% block extend_meta %}
        {% endblock %}

        <title>Forj - {% block title %}{% endblock %}</title>

        {% block extend_css %}
            <link rel="stylesheet" href="{{ static("site/build/stylesheet/main.css") }}">
        {% endblock %}
    </head>


    <body{% block body_inner %} class="{% block body_class %}{% endblock %}"{% endblock %}>
        {% block body %}
            
        {% endblock %}

        {% block extend_js %}
            
        {% endblock %}
    </body>
</html>
