.button {
    padding: 14px 20px 12px 20px;
    border-radius: 200px;
    display: inline-block;
    position: relative;
    transition: all 400ms cubic-bezier(0.750, 0.000, 0.250, 1.000);
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Avenir Black";
    font-size: 12px;
    border: 2px solid white;

    &.button-link {
      text-decoration: none
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        width: 120%;
        height: 120%;
        background-color: $yellow;
        transform-origin: 50% 300px;
        transform: translate3d(-150%, -50%, 0 );
        border-radius: 200px;
        transition: all 400ms cubic-bezier(0.750, 0.000, 0.250, 1.000);
        z-index: -1;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50% );
    }

    &:hover {
        &:after {
          transform: translate3d(-50%, -50%, 0 );
        }
    }

    &.inverted {
        color: black;
        border-color: transparent;
        background-color: $yellow;
        &:after {
          background-color: white;
          // transform: translate3d(-50%, -50%, 0 );
        }
        &:before {
          width: calc(100% + 11px);
          height: calc(100% + 11px);
        }

        &:hover {
          background-color: white;
          &:before {
            width: calc(100% + 6px);
            height: calc(100% + 6px);
          }
        }
    }

    &.arrow {
        width: 16px;
        height: 16px;
        padding: 10px;
        font-weight: 300;
        font-size: 2em;
        vertical-align: top;
        line-height: .34em;
        transition: all 400ms cubic-bezier(0.750, 0.000, 0.250, 1.000);

        &.left {
            transform: rotate(180deg)
        }

        span {
            margin-left: 2px;
        }

        &:before {
            background-image: url("/assets/images/arrow.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:hover {
            color: black;
        }

    }
}


/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 2px;
  top: 7px;
  left: 7px;
  font-size: 1.3em;
  line-height: 0.8;
  color: #262626;
  transition: all .2s;
  background-color: $yellow;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted $yellow;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid $yellow !important;
}
