.slider {
      width: 100%;
      height: 100vh;
      position: relative;
      overflow: hidden;
      color: white;
      min-height: 730px;

      &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: black;
          z-index: -2;
      }

      .cover {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-size: cover;
          background-position: center center;
          z-index: -1;
          opacity: 0;
          transition: opacity 1s ease;

          &.active {
              opacity: .9;
          }
      }

      .wrapper {
          display: block;
          position: absolute;
          width: calc(100% - 140px);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          h1 {
              font-size: 50px;
              font-family: "Avenir Black";
              line-height: 1.2em;
              margin-bottom: 20px;
              max-width: 850px;
            }
            
            > p {
                margin-bottom: 45px;
                font-size: 18px;
                max-width: 640px;
                line-height: 1.3em
          }

          >.buttons-wrapper > .button {
              font-size: .8em;
          }

          .social {
              float: right;
              a {
                  height: 1em;
                  margin-left: 15px;
                  width: .5em;
                  padding: 12px 14px 10px 14px;
                  i {
                      display: inline-block;
                      transform: translate(0, -1px);
                      color: white
                  }
                  &:nth-of-type(2) i {
                    transform: translate(-3px, -1px);
                    font-size: 1.1em;
                  }
              }
          }
      }

      .progress-bar {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: white;
          margin-top: -31px;
      }

      .progress {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 4px;
          margin-top: -34px;
          overflow: hidden;

          &:after {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 3px;
              background-color: white;
              transition: all 0s ease;
              transform: translate3d(-100%, 0, 0);
          }

          &.active {
              &:after {
                  transition: all 6s ease;
                  transform: translate3d(0, 0, 0);
              }
          }
      }

      .slider-container {
          display: flex;
          position: absolute;
          width: calc(100% - 140px);
          bottom: 120px;
          left: 50%;
          transform: translate(-50%, 0);
          justify-content: space-between;

          ul {
              width: calc(100% - 60px);
              padding: 10px 30px 0 30px;
              position: relative;
              height: 2em;

              li {
                  position: absolute;
                  transition: opacity 1s ease;
                  opacity: 0;
                  transition-delay: 0;
                  font-family: "Avenir Black";
                  p {
                      font-size: 18px;

                  }
                  &.active {
                    opacity: 1;
                    transition-delay: 1.2s;
                  }
              }
          }

      }
}
