.popin-background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all .8s ease;
    background-color: black;
    z-index: 11;
    opacity: 0;
    pointer-events: none;
    &.active {
        opacity: .5;
        pointer-events: all;
    }
}

.popin {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 420px;
    background-color: white;
    padding: 40px 30px;
    box-sizing: border-box;
    z-index: 1000;
    border-radius: 4px;
    max-height: 60vh;
    overflow-y: scroll;
    box-shadow: 0 19px 48px rgba(0,0,0,0.30), 0 15px 52px rgba(0,0,0,0.22);
    transition: all .4s ease;

    opacity: 0;
    transform: translate(-50%, -40%);
    pointer-events: none;

    &.active {
        opacity: 1;
        transform: translate(-50%, -50%);
        pointer-events: all;
    }

    &.hidden {
        display: none;
    }

    &.contact-popin {
        height: auto;
        max-height: none;
        overflow: auto;
    }

    .cross {
        float: right;
        width: 15px;
        height: 15px;
        margin: -20px -10px 0 0;
        position: relative;
        cursor: pointer;
        transition: all .4s ease;
        transform-origin: center center;
        opacity: 1;

        svg {
            width: 100%;
        }

        &:hover {
            opacity: .5;
        }

    }

    h2 {
        font-family: "Avenir Black";
        margin-bottom: 10px;
        line-height: 1.3em;
    }

    p {
        font-size: .8em;
        line-height: 1.3em;
        margin-bottom: 5px;
    }

    a {
        text-decoration: none;
        color: $blue;
    }

    form {
        width: 100%;
        margin: 30px 0 0 0;

        .input-wrapper {
            position: relative;
            overflow: hidden;

            &.active {
                label {
                    transform: translate3d(0, -60px, 0);
                }
            }

            label {
                position: absolute;
                top : 30px;
                left: 15px;
                margin-top: 3px;
                transform: translate3d(0, -50%, 0);
                transition: all .4s ease;

                &.error{
                    color: #d43e1b;
                }
            }

            input, textarea {
              display: block;
              width: 100%;
              box-sizing: border-box;
              height: 60px;
              padding: 0 15px;
              font-size: 1.2em;
              font-family: "Avenir Black";
              color: $yellow;
              border: none;
              border-right: 1px solid $grey;
              border-left: 1px solid $grey;
              border-top: 1px solid $grey;
              transition: all .4s ease;

              &.first{
                border-top: 1px solid $grey;
                border-radius: 6px 6px 0 0;
              }

              &.last{
                border-bottom: 1px solid $grey;
                border-radius: 0 0 6px 6px;
              }

              &:focus{
                outline: none;
              }
            }

            textarea {
                width: 100%;
                height: 130px;
                padding: 15px;
                resize: none;
            }
        }

        .sumbit-wrapper {
            height: 30px;
            margin-top: 30px;
            position: relative;

            .progress-bar {
                position: absolute;
                width: 80px;
                height: 5px;
                background-color: #EAEAEA;
                border-radius: 10px;
                top: 15px;
                right: 110px;
                overflow: hidden;
                .progress {
                    position: absolute;
                    width: 0;
                    height: 5px;
                    background-color: $yellow;
                    border-radius: 10px;
                    top: 0;
                    left: 0;
                    transition: all .8s ease;
                }
            }

            input[type="submit"]{
              background-color: $yellow;
              position: absolute;
              top: 0;
              right: 0;
              border: none;
              padding: 13px 20px 10px 20px;
              color: white;
              font-size: .7em;
              font-family: "Avenir Black";
              border-radius: 30px;
              transition: all .4s ease;
              cursor: pointer;

              &:focus {
                outline: none;
              }

              &:hover, &.disabled {
                  background-color: $grey;
              }

              &.disabled {
                  pointer-events: none;
              }

            }
        }

    }
    &.basket {
      .content {
          margin-top: 30px;
          font-size: 1.1em;
          >p {
              font-family: "Avenir Heavy";
          }
          span {
              margin-right: 10px;
              font-family: "Avenir Heavy";
              color: black;
              text-transform: capitalize;
          }
      }

      .sumbit-wrapper {
          height: 30px;
          margin-top: 30px;
          position: relative;

          p.return {
            font-family: "Avenir Black";
            font-size: .7em;
            position: absolute;
            top: 0;
            left: 0;
            padding: 12px 20px 10px 0;
            cursor: pointer;
            transition: all .4s ease;

            &:hover {
                color: $yellow;
            }
          }

          a.checkout {
            background-color: $yellow;
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            padding: 13px 20px 10px 20px;
            color: white;
            font-size: .7em;
            font-family: "Avenir Black";
            border-radius: 30px;
            transition: all .4s ease;
            cursor: pointer;

            &:focus {
              outline: none;
            }

            &:hover {
                background-color: $grey;
            }

          }
      }
    }
}


.sub-popin {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  transform: translate(0, 4px);
  border: 1px solid $blue;
  padding: 5px 5px 5px 7px;
  width: 10px;
  height: 13px;
  border-radius: 20px;
  color: $blue;
  position: relative;
  z-index: 3;

  &:hover span.content {
      opacity: 1;
  }

  span.content {
      display: block;
      position: absolute;
      top: 0;
      left: -300px;
      padding: 30px 30px 25px 30px;
      color: black;
      line-height: 1.3em;
      background-color: $light-grey;
      box-shadow: 0 4px 38px 10px rgba(0,0,0,0.12), 0 5px 10px rgba(0,0,0,0.05);
      border-radius: 3px;
      margin-top: -15px;
      margin-right: -20px;
      border: 1px solid white;
      transform: translate(0, -100%);
      font-family: "Avenir Heavy";
      opacity: 0;
      transition: opacity .4s ease;
      pointer-events: none;
      z-index: 100;

      &:after{
          content: "▲";
          display: block;
          position: absolute;
          right: 16px;
          bottom: -16px;
          width: 30px;
          height: 20px;
          font-size: 30px;
          color: $light-grey;
          transform: rotate(180deg) scale(1.2, .8);
          text-shadow: 0 14px -28px rgba(0,0,0,0.22), 0 10px 10px rgba(0,0,0,0.20);
      }
  }
}

@media (max-width: 960px) {
      .popin {
          width: 80vw
      }

      .sub-popin span.content {
            width: 180px;
            left: -197px;
      }
}
